*{
	margin: 0%;
	padding: 0%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	background: lightgrey;
	font-family: 'Roboto', sans-serif;
	line-height: 10px; 
}

.intro{
	list-style: none;
	padding: 0;
	background: #092327;
	max-width: 1500px;
	margin: auto;
}

.intro li a{
	text-decoration: none;
	color: rgb(187, 168, 168);
	padding: 20px;
	display: block;
}

.intro li{
	display: inline-block;
	text-align: center;
}

.inici.icono.derecha{
	font-size: 12px;
	line-height: 18px;
	margin-right: auto;
	right: 150px;	
}

.intro li a:hover{
	background: #ef8354;
}

.titulo{
	width: 100%;
	max-width: 1500px;
	margin: auto;
	overflow: hidden;
}
header{
	line-height: 50px;
	background: lightslategray;
}

a{
	text-align: none;
	color: #fff;
}
.contenedor-menu {
	width: 25%;
	margin-right: auto;
	min-width: 200px;
	display: inline-block;
	font-family: 'Roboto', sans-serif; 
	line-height: 28px;
}

.contenedor-menu .menu{
	width: 100%;
}

.contenedor-menu ul{
	list-style: none;
}
.contenedor-menu .menu li a{
	color: #494949;
	display: block;
	padding: 15px 30px;
	background-color: #c1ebc8;
}
.contenedor-menu .menu li a:hover{
	background-color: #e40f0f;
	color: rgb(164, 235, 195);
}
.contenedor-menu .menu .icono{
	font-size: 12px;
	line-height: 18px;
}
.contenedor-menu .menu .icono.derecha {
	float: right;
	margin-right: 10px;
}
.contenedor-menu .menu ul{
	display: none;
}
.contenedor-menu .menu ul li a{
	background: #494949;
	color: #e9e9e9;
}

.contenedor-menu .menu .compraventa > a {
	color: #494949;
	background: #e9e9e9;
}
.contenedor-menu .menu ul:hover > li{
	display: block;
}
.bienvenida{
	width: 72%;
	margin-left: auto;
	line-height: 20px;
}

